$background-color: #0d7fc1;
$nav-text-color: #000000;

body{
  background-color: $background-color;
}

img{
  height: 200px;
  width: 200px;
}

#title-name{
  font-weight: bold;
}

.nav{
  background-color: $background-color;
}

.nav-link{
  color: $nav-text-color;
}
