/* .nav{
  width: 100%;
}

.card-img-top{
  height: 200px;
}

/* .nav-item{
  text-align: center;
  color: black;
  padding: 5px;
} */

body{
  background-color: grey;
}

img{
  height: 200px;
  width: 200px;
}

.card-body{
  height: 200px;
}
